<div ng-controller="status">
  <div ng-show="!isOpen">
    <div class="row color-h2"><div ng-click="open()" class="btn-title"> <i class="icon-plus"></i> Current Questionnaire </div></div>
  </div>
  <div ng-show="isOpen">
    <div class="row color-h2"><div ng-click="close()" class="btn-title"> <i class="icon-minus text-notify"></i> Current Questionnaire </div> </div>

    <div class="form">
      <div class="form-row">
        <p>This is where you manage your open questionnaire until it is closed and results are prepared.</p>
      </div>
    </div>

    <div ng-show="isLoading" class="form">
      <div class="form-row" style="text-align:center;"><i class="icon-spin icon-spinner"></i> Loading...</div>
    </div>

    <div ng-show="!isLoading">

      <div ng-show="!hasOpenQuestionnaire">
        <div class="row color-h3">
          <span class="title">Next step</span>
        </div>
        <div class="form">
          <div class="form-row" style="text-align:center;">Start your questionnaire.</div>
          <div class="form-row">
            <div class="field-label">Title</div>
            <div class="field-data"><input type="text" ng-model="newQuestionnaireTitle"></div>
          </div>
          <div ng-show="(isEdited||isSaving)" class="form-row" style="text-align:center;"> Save all changes before you can begin. </div>
          <div ng-show="closedQuestionnaireInstances.length >= maxQuestionnaireCount" class="form-row" style="text-align:center;"> Please contact fullcrum.co to purchase support for additional questionnaires </div>
          <div ng-show="closedQuestionnaireInstances.length < maxQuestionnaireCount">
            <div ng-show="!(isEdited||isSaving)" class="form-row"><div class="btn color-primary" ng-click="begin()" style="margin-right: 180px;">Begin!</div></div>
          </div>
        </div>
      </div>

      <div ng-show="hasOpenQuestionnaire">
        <div class="row color-h3">
          <span class="title">{{ openQuestionnaire.title }} employee status</span>
        </div>
        <div class="form">
          <div class="form-row">
            <table>
              <tr ng-repeat="status in employeeQuestionnaireStatus">
                <td>{{status.name}}</td>
                <td ng-style="statusStateStyle[status.state]">{{statusStateText[status.state]}}</td>
              </tr>
            </table>
          </div>
        </div>
        <div class="row color-h3">
          <span class="title">Next step</span>
        </div>
        <div class="form">
          <div class="form-row">
            <p>Once all employees have finished, close the questionnaire to see the results.</p>
          </div>
          <div class="form-row">
            <div class="btn color-primary" style="width: 40%; margin-right: 30%;" ng-click="end()">Close Questionnare</div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
