<div ng-controller="responses-response">
  <div class="form">
    <div class="form-row">
      <div class="field-hlabel">Response <a ng-click="remove()"><i class="text-delete icon-remove-sign"></i></a> </div>
      <div class="field-hdata"><textarea class="xtall" ng-model="response.text"></textarea></div>
    </div>
    <div class="form-row">
      <div class="field-label">When</div>
      <div class="field-data">
        <select ng-model="response.responseType" ng-options="type.value as type.text for type in responseTypes"></select>
     </div>
    </div>
  </div>
</div>
