<div ng-controller="questionnaires">
  <div ng-if="!isOpen">
    <div class="row color-h2"><div ng-click="open()" class="btn-title"> <i class="icon-plus"></i> Questionnaires </div> </div>
  </div>
  <div ng-if="isOpen">
    <div class="row color-h2"><div ng-click="close()" class="btn-title"> <i class="icon-minus text-notify"></i> Questionnaires </div> <div ng-click="addNew()" class="btn color-primary">Add New</div> </div>
    <div ng-if="questionnaires.length == 0" class="form">
      <div class="form-row" style="text-align:center;">No questionnaires yet!</div>
    </div>
    <div ng-repeat="questionnaire in questionnaires">
      <ng-include src="'/admin/questionnaires/questionnaire/questionnaire.html'"></ng-include>
    </div>
  </div>
</div>
