<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <title>fullcrum (<%= user.name %>)</title>

  <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/normalize/2.1.0/normalize.css">
  <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/css/fullcrum-layout.css">
  <script type='text/javascript' src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
  <script type='text/javascript' src="//cdnjs.cloudflare.com/ajax/libs/q.js/0.9.6/q.min.js"></script>
  <script type='text/javascript' src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
</head>
<body>
  <img src="/img/fullcrum_cropped.jpg">
  <h1>Hello, <%= user.name %>.</h1>
  <% if (companies) { %>
  <h2><a id="edit-companies">&#9660;</a> Edit Companies</h2>
    <ul>
      <% companies.forEach(function(company){ %>
        <li><%= company.name %></li>
      <% }) %>
    </ul>
  <% } %>
  <footer>
    We want your studio to have better retention, happier developers, and upgraded leaders. Ask us how we can help!  
    <a href="https://mail.google.com/mail/?view=cm&amp;fs=1&amp;tf=1&amp;to=%77%65%6c%6f%76%65%64%65%76%73@%66%75%6c%6c%63%72%75%6d.%63%6f" target="_blank">welovedevs@fullcrum.co</a>
    <a href="https://twitter.com/fullcrumco"><i class="icon-twitter"></i></a>
  </footer>
</body>
</html>
