body {
  width: 530px;
  margin: 0 auto;
  font-family: segoe ui, verdana, arial, sans-serif;
}

h1 {
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 0px;
  padding: 10px;
  background-color: #da532c;
  color: #FEFEF2;
  font-size: 1.5em;
  font-weight: normal;
}

h2 {
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 0px;
  padding: 10px;
  background-color: #2b5797;
  color: #FEFEF2;
  font-size: 1.2em;
  font-weight: normal;
}

footer {
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 0px;
  padding: 10px;
  background-color: #2b5797;
  color: #FEFEF2;
  font-size: 0.8em;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: #ffffff;
}

a:hover {
  text-decoration: none;
  color: #ffffff;
  cursor: pointer;
}

