<div ng-controller="categories">
  <div ng-if="!isOpen">
    <div class="row color-h4"><div ng-click="open()" class="btn-title"> <i class="icon-plus"></i> Categories </div> </div>
  </div>
  <div ng-if="isOpen">
    <div class="row color-h4"><div ng-click="close()" class="btn-title"> <i class="icon-minus text-notify"></i> Categories </div> <div ng-click="addNew()" class="btn color-primary">Add New</div> </div>
    <div ng-if="categories.length == 0" class="form">
      <div class="form-row" style="text-align:center;">No categories yet!</div>
    </div>
    <div ng-repeat="category in categories">
      <ng-include src="'/admin/questionnaires/questionnaire/categories/category/category.html'"></ng-include>
    </div>
  </div>
</div>
