<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <title>fullcrum (questionnaire)</title>

  <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/normalize/2.1.0/normalize.css">
  <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="css/questionnaire.css">
  <script type='text/javascript' src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
  <script type='text/javascript' src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.1.5/angular.min.js"></script>
  <script type='text/javascript' src="//cdnjs.cloudflare.com/ajax/libs/q.js/0.9.6/q.min.js"></script>
  <script type='text/javascript' src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
  <script type='text/javascript' src="js/md5.js"></script>
  <script type='text/javascript' src="js/questionnaire.js"></script>
</head>

<body ng-app="MainApp">
  <div ng-controller="Main" class="container">
    <div ng-show="!isDataReady"><i class="icon-spin icon-spinner"></i> Loading...</div>
    <div ng-show="isDataReady && (!isQuestionnaireDone)">
        <div class="desc full-tile">{{source.questions[ questionNdx ].text}}</div>
        <div class="desc status-tile"> 
          <span ng-show="!isFirstQuestion()"><a ng-click="onPrev()">&#9664;</a></span>
        <span style="float:right;">{{questionNdx+1}} / {{source.questions.length}}</span>
        </div>
        <div id="progress" class="bar"></div> <a href="#" ng-click="onSelectResponse(-2)" class="heat-high med-tile">Strongly Disagree</a>
        <a href="#" ng-click="onSelectResponse(-1)" class="heat-med-high med-tile">Disagree</a>
        <a href="#" ng-click="onSelectResponse(0)" class="heat-med med-tile">Neutral</a>
        <a href="#" ng-click="onSelectResponse(1)" class="heat-med-low med-tile">Agree</a>
        <a href="#" ng-click="onSelectResponse(2)" class="heat-low med-tile">Strongly Agree</a>

        <div ng-show="isDebug">
            <div style="clear:both;"></div>
            <div ng-repeat="category in source.categories">{{ category.value }} {{ category.score }}</div>
        </div>
    </div>
    <div ng-show="isDataReady && (isQuestionnaireDone)">
        <div ng-show="hasStats()">
            <div class="save-status" ng-show="isStatsError"><span class="text-error">Could not save results.</span> 
                <button ng-click="saveResults()" class="btn btn-primary">Retry save</button>
            </div>
            <div class="save-status" ng-show="isStatsSaved"><span class="text-info">Your anonymous results have been saved.</span>

            </div>
        </div>
        <div class="desc full-tile-autoheight"> <span ng-show="source.negCount == 0">{{source.responses.none}}</span>
        <span ng-show="source.negCount == 1">{{source.responses.one}}</span>
        <span ng-show="(source.negCount > 1) && (source.negCount < source.categories.length)">{{source.responses.some}}</span>
        <span ng-show="(source.negCount == source.categories.length)">{{source.responses.all}}</span>
       
        </div>
        <div ng-repeat="category in source.categories">
            <div class="category-header-tile">{{category.value}}</div>
            <div style="clear:both;"></div>
            <div ng-show="isCategoryLow(category)" class="category-score-tile heat-high">&nbsp;</div>
            <div ng-show="isCategoryNeutral(category)" class="category-score-tile heat-med">&nbsp;</div>
            <div ng-show="isCategoryHigh(category)" class="category-score-tile heat-low">&nbsp;</div>
            <div style="clear:both;"></div>
            <div ng-show="isCategoryLow(category)" class="desc message-tile">{{source.responses.categories[$index].low}}</div>
            <div ng-show="isCategoryNeutral(category)" class="desc message-tile">{{source.responses.categories[$index].neutral}}</div>
            <div ng-show="isCategoryHigh(category)" class="desc message-tile">{{source.responses.categories[$index].high}}</div>
            <div style="clear:both;"></div>            
            <div ng-show=" source.responses.categories[$index].suggestionList.length > 0" class="desc message-status-tile"> <span ng-show="!isSuggestionShow[$index]" style="float:right;"><a ng-click="showSuggestion($index)">Suggestions &#9660;</a></span>
 <span ng-show="isSuggestionShow[$index]" style="float:right;"><a ng-click="hideSuggestion($index)">&#9650;</a></span>

            </div>
            <div ng-show="isSuggestionShow[$parent.$index]" ng-repeat="suggestion in source.responses.categories[$index].suggestionList" class="desc suggestion-tile">
                <img ng-src="{{ gravatarInfo[ suggestion.email ].imageUrl }}" align="left" /> <span class="quote">&ldquo;</span>{{suggestion.text}}<span>&rdquo;</span>

                <div class="no-select" style="text-align:right">-- <a ng-show="!isSuggestionUserShow[$parent.$index][$index]" ng-click="showSuggestionUser($parent.$index,$index)">
                    {{gravatarInfo[ suggestion.email ].profile.name.formatted}} &#9660
                    </a>
 <a ng-show="isSuggestionUserShow[$parent.$index][$index]" ng-click="hideSuggestionUser($parent.$index,$index)">
                    {{gravatarInfo[ suggestion.email ].profile.name.formatted}} &#9650
                    </a>

                </div>
                <div style="clear:both;"></div>
                <div class="user-show" ng-show="isSuggestionUserShow[$parent.$index][$index]">{{gravatarInfo[ suggestion.email ].profile.aboutMe}}
                    <div style="text-align:right;" ng-show="gravatarInfo[ suggestion.email ].profile.accounts"> <span class="social-links" ng-repeat="account in gravatarInfo[ suggestion.email ].profile.accounts">
                        <span ng-show="account.shortname == 'facebook'"><a ng-href="{{account.url}}"><i class="icon-facebook"></i></a></span>
 <span ng-show="account.shortname == 'google'"><a ng-href="{{account.url}}"><i class="icon-google-plus"></i></a></span>
 <span ng-show="account.shortname == 'linkedin'"><a ng-href="{{account.url}}"><i class="icon-linkedin"></i></a></span>
 <span ng-show="account.shortname == 'twitter'"><a ng-href="{{account.url}}"><i class="icon-twitter"></i></a></span>
</span>
                    </div>
                    <ul ng-show="gravatarInfo[ suggestion.email ].profile.urls && gravatarInfo[ suggestion.email ].profile.urls.length">
                        <li ng-repeat="url in gravatarInfo[ suggestion.email ].profile.urls"> <a ng-href="{{url.value}}">{{url.title}}</a>

                        </li>
                    </ul>
                </div>
                <div ng-show="suggestion.url">
                    <p>See also: <a ng-href="{{suggestion.url}}">{{suggestion.url}}</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
  
</body>
</html>

