<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <title>fullcrum (company report)</title>

  <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/normalize/2.1.0/normalize.css">
  <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="css/report.css">
  <script type='text/javascript' src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
  <script type='text/javascript' src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.1.5/angular.min.js"></script>
  <script type='text/javascript' src="//cdnjs.cloudflare.com/ajax/libs/q.js/0.9.6/q.min.js"></script>
  <script type='text/javascript' src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
  <script type='text/javascript' src="js/md5.js"></script>
  <script type='text/javascript' src="js/report.js"></script>
</head>

<body ng-app="MainApp">
  <div ng-controller="Main" class="container">
    <div ng-show="!isDataReady"><i class="icon-spin icon-spinner"></i> Loading...</div>
    <div ng-show="isDataReady">
        <div class="title-tile">Summary of results (cid={{cid}})
            <div>Total submissions: {{results.answerCount}}</div>
        </div>
        <div ng-show="showCategoryType == 'kScores'">
            <div class="category-text category-title"> <a ng-click="showCategoryType = 'kGraph';">SCORES BY CATEGORY (SCORE STATS)</a>

            </div>
            <div class="score-tile category-title">LOW</div>
            <div class="score-tile category-title">AVG</div>
            <div class="score-tile category-title">HIGH</div>
        </div>
        <div ng-show="showCategoryType == 'kGraph'">
            <div class="category-text-wide category-title"> <a ng-click="showCategoryType = 'kScores';">SCORES BY CATEGORY (GRAPH)</a>

            </div>
        </div>
        <div style="clear:both;"></div>
        <div ng-repeat="category in results.categories">
            <div class="category-text"> <a ng-click="category.isShowQuestions = !category.isShowQuestions">
                    <span ng-show="category.isShowQuestions">&#9650;</span>
                    <span ng-show="!category.isShowQuestions">&#9660;</span>
                    {{category.text}}
                </a>

            </div>
            <div ng-show="showCategoryType == 'kScores'">
                <div ng-show="isCategoryLow(category.min)" class="score-tile heat-high">{{category.min | number:1}}</div>
                <div ng-show="isCategoryNeutral(category.min)" class="score-tile heat-med">{{category.min | number:1}}</div>
                <div ng-show="isCategoryHigh(category.min)" class="score-tile heat-low">{{category.min | number:1}}</div>
                <div ng-show="isCategoryLow(category.avg)" class="score-tile heat-high">{{category.avg | number:1}}</div>
                <div ng-show="isCategoryNeutral(category.avg)" class="score-tile heat-med">{{category.avg | number:1}}</div>
                <div ng-show="isCategoryHigh(category.avg)" class="score-tile heat-low">{{category.avg | number:1}}</div>
                <div ng-show="isCategoryLow(category.max)" class="score-tile heat-high">{{category.max | number:1}}</div>
                <div ng-show="isCategoryNeutral(category.max)" class="score-tile heat-med">{{category.max | number:1}}</div>
                <div ng-show="isCategoryHigh(category.max)" class="score-tile heat-low">{{category.max | number:1}}</div>
            </div>
            <div ng-show="showCategoryType == 'kGraph'">
                <div class="score-graph-tile heat-high" ng-style="categoryLowStyle(category)" title="{{category.lowCount}}"></div>
                <div class="score-graph-tile heat-med" ng-style="categoryMedStyle(category)" title="{{category.medCount}}"></div>
                <div class="score-graph-tile heat-low" ng-style="categoryHighStyle(category)" title="{{category.highCount}}"></div>
            </div>
            <div style="clear:both;"></div>
            <div ng-show="category.isShowQuestions" ng-repeat="question in category.questions">
                <div class="desc-tile">{{question.text}}</div>
                <div class="med-top-tile heat-high">Strongly disagree</div>
                <div class="med-top-tile heat-med-high">Disagree</div>
                <div class="med-top-tile heat-med">Neutral</div>
                <div class="med-top-tile heat-med-low">Agree</div>
                <div class="med-top-tile heat-low">Strongly agree</div>
                <div style="clear:both;"></div>
                <div class="med-bottom-tile heat-high-2">{{question.values[0] | number}}%</div>
                <div class="med-bottom-tile heat-med-high-2">{{question.values[1] | number}}%</div>
                <div class="med-bottom-tile heat-med-2">{{question.values[2] | number}}%</div>
                <div class="med-bottom-tile heat-med-low-2">{{question.values[3] | number}}%</div>
                <div class="med-bottom-tile heat-low-2">{{question.values[4] | number}}%</div>
                <div style="clear:both; margin-bottom: 5px;"></div>
            </div>
        </div>
    </div>
  </div>
</body>
</html>

