<div ng-controller="questions">
  <div ng-if="!isOpen">
    <div class="row color-h6"><div ng-click="open()" class="btn-title"> <i class="icon-plus"></i> Questions </div> </div>
  </div>
  <div ng-if="isOpen">
    <div class="row color-h6"><div ng-click="close()" class="btn-title"> <i class="icon-minus text-notify"></i> Questions </div> <div ng-click="addNew()" class="btn color-primary">Add New</div> </div>
    <div ng-if="questions.length == 0" class="form">
      <div class="form-row" style="text-align:center;">No questions yet!</div>
    </div>
    <div ng-repeat="question in questions">
      <ng-include src="'/admin/questionnaires/questionnaire/categories/category/questions/question/question.html'"></ng-include>
    </div>
  </div>
</div>
