<div ng-controller="suggestions">
  <div ng-if="!isOpen">
    <div class="row color-h6"><div ng-click="open()" class="btn-title"> <i class="icon-plus"></i> Suggestions </div> </div>
  </div>
  <div ng-if="isOpen">
    <div class="row color-h6"><div ng-click="close()" class="btn-title"> <i class="icon-minus text-notify"></i> Suggestions </div> <div ng-click="addNew()" class="btn color-primary">Add New</div> </div>
    <div ng-if="suggestions.length == 0" class="form">
      <div class="form-row" style="text-align:center;">No suggestions yet!</div>
    </div>
    <div ng-repeat="suggestion in suggestions">
      <ng-include src="'/admin/questionnaires/questionnaire/categories/category/suggestions/suggestion/suggestion.html'"></ng-include>
    </div>
  </div>
</div>
