<div ng-controller="firstSteps">
  <div ng-if="!isOpen">
    <a ng-click="open()" class="btn-left color-grey"> <i class="icon-info-sign"></i> Help?</a>
  </div>
  <div ng-if="isOpen">
    <a ng-click="close()" class="btn-left color-grey"> <i class="icon-minus"></i> Help? </a>
    <div class="top-bar" style="margin-top:55px;">
      <div class="form" style="width:auto; margin:10px; padding:10px;">
        <div class="form-row">
          <ul>
            <li>Add your employees in the Employees tab.</li>
            <li>Optional: You can create new Employee Groups (e.g. Art, Design, Programming) and assign any employee to one or more groups in the Employees tab.</li> 
            <li>Once you are ready, Begin Questionnaire in the Current Questionnaire tab.</li>
            <li>An email will be sent to each employee with a unique link to take the questionnaire.</li>
            <li>Whenever you log in (or refresh the page) you can see the updated questionnaire status of each employee in the Current Questionnaire tab.</li>
            <li>Once all the employees have taken the questionnaire, Close Questionnaire.</li>
            <li>After you close the questionnaire, you can see the results in the results tab.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
