<div ng-controller="administrators">
  <div ng-if="!isOpen">
    <div class="row color-h2"><div ng-click="open()" class="btn-title"> &#9660; Administrators </div> <div ng-click="addNew()" class="btn color-primary">Add New</div> </div>
  </div>
  <div ng-if="isOpen">
    <div class="row color-h2"><div ng-click="close()" class="btn-title"> &#9650; Administrators </div> <div ng-click="addNew()" class="btn color-primary">Add New</div> </div>
    <div ng-repeat="admin in administrators">
      <ng-include src="'administrators.admin.html'"></ng-include>
    </div>
  </div>
</div>
