<div ng-controller="responses">
  <div ng-if="!isOpen">
    <div class="row color-h6"><div ng-click="open()" class="btn-title"> <i class="icon-plus"></i> Responses </div> </div>
  </div>
  <div ng-if="isOpen">
    <div class="row color-h6"><div ng-click="close()" class="btn-title"> <i class="icon-minus text-notify"></i> Responses </div> <div ng-click="addNew()" class="btn color-primary">Add New</div> </div>
    <div ng-if="responses.length == 0" class="form">
      <div class="form-row" style="text-align:center;">No responses yet!</div>
    </div>
    <div ng-repeat="response in responses">
      <ng-include src="'/admin/questionnaires/questionnaire/categories/category/responses/response/response.html'"></ng-include>
    </div>
  </div>
</div>
