body {
  width: 530px;
  margin: 0 auto;
  font-family: segoe ui, verdana, arial, sans-serif;
  font-size: 12pt;
}

div {
  margin: 0;
  border: 0;
  padding: 0;
}

.row {
  width: 100%;
  /* padding: 5px; */
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 5px;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0px;
  min-height: 32px;
  overflow: hidden;
}

.row-left-60 {
  width: 320px;
  /* padding: 5px; */
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 5px;
  margin-left: 0;
  margin-right: 5px;
  margin-bottom: 0px;
  min-height: 32px;
  overflow: hidden;
  float: left;
}

.row-right {
  /* width: 210px; */
  /* padding: 5px; */
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 5px;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0px;
  min-height: 32px;
  overflow: hidden;
  float: left;
}

.bottom-bar {
  /* width: 210px; */
  /* padding: 5px; */
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 0px;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0px;
  min-height: 10px;
  overflow: hidden;
  float: left;
}

.form-row {
  width: 100%;
  /* padding: 5px; */
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 0;
  overflow: hidden;
}

.form {
  width: 100%;
  /* padding: 5px; */
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 0;
  color: #FEFEF2;
  background-color: #AAA;
  overflow: hidden;
}

.field-label {
  width: 20%;
  padding: 10px;
  margin: 0;
  text-align: right;
  float: left;
}

.field-data {
  margin: 0;
  text-align: left;
  width: 70%;
  float: left;
}

.field-hlabel {
  width: 90%;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 4px;
  margin: 0;
  text-align: left;
}

.field-hdata {
  margin: 0;
  text-align: left;
  width: 92%;
  padding-left: 10px;
}

.field-hdata textarea {
  width: 100%;
  padding: 10px;
  resize: none;
}

.field-hdata textarea.tall {
  height: 12em;
}

.field-hdata textarea.xtall {
  height: 16em;
}

.field-hdata textarea.xxtall {
  height: 20em;
}

.field-hdata textarea.short {
  height: 4em;
}

.field-data input {
  width: 100%;
  padding: 10px;
}

.field-data select {
  width: 100%;
  padding: 10px;
}

.btn {
  width: 20%;
  padding-left:   10px;
  padding-right:  10px;
  padding-top:    15px;
  padding-bottom: 15px;
  margin-right: 5px;
  float: right;
  text-align: center;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

i.btn {
  width: auto;
  padding-left:   10px;
  padding-right:  10px;
  padding-top:    15px;
  padding-bottom: 15px;
  margin-right: 5px;
  float: right;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.btn:hover {
  cursor: pointer;
}

.btn-title {
  width: 60%;
  padding-left:   10px;
  padding-right:  10px;
  padding-top:    15px;
  padding-bottom: 15px;
  float: left;
  margin-left: 5px;
  margin-right: 5px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.btn-title:hover {
  cursor: pointer;
}

.title {
  padding-left:   10px;
  padding-right:  10px;
  padding-top:    15px;
  padding-bottom: 15px;
  float: left;
  margin-left: 5px;
  margin-right: 5px;
  text-transform: uppercase;
}

p {
  padding: 5px;
  margin-left: 5px;
  margin-right: 5px;
}

.color-info {
  color: #444;
  background-color: #91D100;
}

.color-notify {
  color: black;
  background-color: #ffc40d;
}

.text-notify {
  color: #ffc40d;
}

.text-delete {
  color: #222;
}

.color-delete {
  color: #FEFEF2;
  background-color: #ff2e12;
}

.color-primary {
  color: #FEFEF2;
  background-color: #199900;
}

.color-h1 {
  background-color: #da532c;
  color: #FEFEF2;
}

.color-h2 {
  color: #FEFEF2;
  background-color: #00aba9;
}

.color-h3 {
  background-color: #2b5797;
  color: #FEFEF2;
}

.color-h4 {
  background-color: #691BB8;
  color: #FEFEF2;
}

.color-h5 {
  background-color: #AA40FF;
  color: #FEFEF2;
}

.color-h6 {
  background-color: #DE4AAD;
  color: #FEFEF2;
}

.color-h7 {
  background-color: #E773BD;
  color: #FEFEF2;
}

.color-footer {
  background-color: #333;
  color: #aaa;
}

.color-close {
  background-color: #333;
  color: #aaa;
}

.color-footer a {
  color: white;
}

a.btn {
  text-decoration: none;
}

a.btn:hover {
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

.question-top {
  width: 100%;
  margin-top: 105px;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  overflow: hidden;
  background-color: #2b5797;
  color: #FEFEF2;
  min-height: 8em;
}

.question-row {
  width: 100%;
  padding: 10px;
  font-size: 1.1em;
}

.question-bottom {
  width: 100%;
  margin-top: 0px;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 5px;
  overflow: hidden;
  color: #FEFEF2;
  background-color: #2b5797;
}

.color-negative {
  background-color: #ff2e12;
  color: #FEFEF2;
}
.color-strongly-disagree {
  background-color: #ff2e12;
  color: #FEFEF2;
}
.strongly-disagree {
  width: 102px;
  height: 82px;
  margin-top: 5px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 5px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 20px;
  padding-bottom: 0px;
  text-align:center;
  background-color: #ff2e12;
  color: #FEFEF2;
  float: left;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.color-disagree {
  background-color: #ff7d23;
  color: #FEFEF2;
}
.disagree {
  width: 102px;
  height: 82px;
  margin-top: 5px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 5px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 20px;
  padding-bottom: 0px;
  text-align:center;
  background-color: #ff7d23;
  color: #FEFEF2;
  float: left;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.color-neutral {
  background-color: #e1b700;
  color: #FEFEF2;
}
.neutral {
  width: 102px;
  height: 82px;
  margin-top: 5px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 5px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 20px;
  padding-bottom: 0px;
  text-align:center;
  background-color: #e1b700;
  color: #FEFEF2;
  float: left;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.color-agree {
  background-color: #78ba00;
  color: #FEFEF2;
}
.agree {
  width: 102px;
  height: 82px;
  margin-top: 5px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 5px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 20px;
  padding-bottom: 0px;
  text-align:center;
  background-color: #78ba00;
  color: #FEFEF2;
  float: left;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.color-positive {
  background-color: #199900;
  color: #FEFEF2;
}
.color-strongly-agree {
  background-color: #199900;
  color: #FEFEF2;
}
.strongly-agree {
  width: 102px;
  height: 82px;
  margin-top: 5px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 20px;
  padding-bottom: 0px;
  text-align:center;
  background-color: #199900;
  color: #FEFEF2;
  float: left;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.strongly-disagree:hover {
  cursor: pointer;
}

.disagree:hover {
  cursor: pointer;
}

.neutral:hover {
  cursor: pointer;
}

.agree:hover {
  cursor: pointer;
}

.strongly-agree:hover {
  cursor: pointer;
}

.social-links a {
  color: #FEFEF2;
  font-size: 1.2em;
  text-decoration: none;
  padding-right: 5px;
}

.color-h3 ul {
  color: #FEFEF2;
}

.color-h3 ul a {
  color: #FEFEF2;
}

ul {
  padding-bottom: 10px;
}

td {
  padding: 5px;
}

table {
  margin: 20px;
}
