<div ng-controller="administrators-admin">
  <div ng-if="!isOpen">
    <div class="row" ng-class="(admin.$isEdit) ? 'color-notify' : 'color-h3'">
      <div ng-click="open()" class="btn-title"> <i class="icon-plus"></i> {{ admin.name }}</div> 
    </div>
  </div>
  <div ng-if="isOpen">
    <div class="row" ng-class="(admin.$isEdit) ? 'color-notify' : 'color-h3'">
      <div ng-click="close()" class="btn-title"> <i class="icon-minus text-notify"></i> {{ admin.name }}</div>
    </div>
    <div class="form">
      <div class="form-row">
        <div class="field-label">Name</div>
        <div class="field-data"><input type="text" ng-model="admin.name" required></div>
      </div>
      <div class="form-row">
        <div class="field-label">Email</div>
        <div class="field-data"><input type="email" ng-model="admin.email" required></div>
      </div>
      <div class="form-row">
        <div class="field-label">Company</div>
        <div class="field-data"><select ng-model="admin.companyId" ng-options="company._id as company.name for company in companies" required></select></div>
      </div>
    </div>
  </div>
</div>
